:root {
  --z_index_header: 1000;
  --z_index_main: 2000;
  --z_index_footer: 3000;

  --panzer-height: min(12vw, 12vh);

  --font-family-default: "Roboto Mono", monospace;
  --font-family-stylish: "Rubik Mono One", monospace;

  --default-background-color: #121a2d;
  
  --color-blue-darker: #0036C6;
  --color-blue-dark: #0046FF;
  --color-blue-flat: #2979FF;
  --color-blue-light: #5584FF;
  --color-blue-lighter: #D2DFFF;
}

html {
  background-color: var(--default-background-color);
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 100vw !important;
  overflow-x: hidden;
  width: 100vw !important;
}

@media (orientation: landscape) {
  body {
    align-items: center;
    display: flex;
    font-family: var(--font-family-default);
    height: 100vh;
    justify-content: center;
    margin: unset;
    overflow: hidden;
    text-align: center;
    width: inherit;
  }
  .portrait {
    display: none;
  }

  .landscape {
    padding-top: 25vh
  }

  .landscape > p {
    margin: 0;
  }
  .landscape > .line_1 {
    font-size: 15vh;
    line-height: 12vh;
  }
  .landscape > .line_2 {
    font-size: 11vh;
    line-height: 10vh;
    opacity: 0.7;
  }
  .landscape > .line_3 {
    font-size: 5vh;
    line-height: 5vh;
    opacity: 0.6;
  }
  .landscape > .line_4 {
    font-size: 3vh;
    line-height: 3vh;
    opacity: 0.5;
  }
  .landscape > .line_5 {
    font-size: 1.75vh;
    line-height: 3vh;
    opacity: 0.4;
  }
  .landscape > .line_6 {
    font-size: 1.5vh;
    line-height: 1.75vh;
    opacity: 0.3;
  }
}

@media (orientation: portrait) {
  body {
    display: flex;
    flex-direction: column;
    margin: unset;
    max-width: inherit;
    overflow-x: inherit;
    position: relative;
    width: inherit;
  }
  body::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  body::-webkit-scrollbar-thumb {
    width: 0;
  }

  .landscape {
    display: none;
  }

  #controller {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  #controller > div {
    height: 100%;
    width: 100%;
  }

  header,
  main,
  footer {
    display: inherit;
    position: relative;
  }
  header {
    flex-direction: inherit;
    height: 100vh;
    z-index: var(--z_index_header);
    text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
  }
  main {
    background-color: blueviolet;
    z-index: var(--z_index_main);
    text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
  }
  footer {
    background-color: crimson;
    z-index: var(--z_index_footer);
    text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
  }

  header > .anim-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
  }

  header > .game_title {
    display: inherit;
    flex: 1;
    flex-direction: inherit;
    justify-content: center;
  }
  header > .game_title > .sliced_text {
    --font-h: 35vh;
    --font-w: 35vw;
    background-color: var(--background-color);
    font-family: var(--font-family-stylish);
    font-size: min(var(--font-w), var(--font-h));
    height: min(43vw, var(--font-h));
    position: relative;
    text-shadow: none !important;
  }
  header > .game_title > .sliced_text > .top,
  header > .game_title > .sliced_text > .bot {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  header > .game_title > .sliced_text > .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 47.5%, 0% 57.5%);
    top: 0;
    z-index: calc(var(--z_index_header) + 500);
  }
  header > .game_title > .sliced_text > .bot {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background-color: var(--color-blue-flat);
    background-clip: text;
    bottom: 0;
    z-index: calc(var(--z_index_header) + 499);
  }
  header > .game_title > p {
    color: var(--color-blue-lighter);
    font-size: min(8vw, 8vh);
    font-family: var(--font-family-stylish);
    font-style: normal;
    font-weight: 400;
    margin: max(-8vw, -8vh) 0 0 0;
    position: relative;
    text-align: center;
    word-spacing: -15pt;
    z-index: calc(var(--z_index_header) + 501);
  }

  header > .paragraph-panzer {
    height: var(--panzer-height);
    overflow: hidden;
    position: relative;
    width: 100vw;
  }
  header > .paragraph-panzer > .line {
    background-color: #fff;
    bottom: 0;
    height: min(0.5vw, 0.5vh);
    left: 0;
    position: absolute;
    right: 0;
  }
  header > .paragraph-panzer > img {
    animation: moveImage 5s linear infinite;
    filter: brightness(100);
    height: calc(var(--panzer-height) * 3);
    position: absolute;
    left: calc(var(--panzer-height) * -3);
    top: calc(var(--panzer-height) * -0.85);
  }
  @keyframes moveImage {
    0% {
      left: calc(var(--panzer-height) * -3);
    }
    100% {
      left: calc(100vw + var(--panzer-height) * 3);
    }
  }

}
