:root {
  --color_blue_darker: #0036c6;
  --color_blue_dark: #0046ff;
  --color_blue_flat: #2979ff;
  --color_blue_light: #5584ff;
  --color_blue_lighter: #d2dfff;

  --color_red: #F44336;

  --color_yellow: #ffd600;

  --default_background_color: #121a2d;

  --font_family_default: "Roboto Mono", monospace;
  --font_family_hand: "Permanent Marker", cursive;
  --font_family_stylish: "Rubik Mono One", monospace;

  --font_size_default: 3vw;
  --font_size_title: 6vw;
  --font_size_subtitle: 4.5vw;

  --menu_chapters_button_size: 15vw;
  --menu_chapters_padding: 5vw;

  --panzer_height: 0.25em;

  --z_index_header: 1000;
  --z_index_main: 2000;
  --z_index_footer: 3000;
  --z_index_menu: 4000;
}

.material-symbols-outlined,
.material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 0, "GRAD" 0, "opsz" 48;
}

/* https://gabrielfins.github.io/ripple-effect/ */
.md-ripples .ripple {
  background-color: #fff;
  opacity: 0.5;
}

html {
  background-color: var(--default_background_color);
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: var(--font_size_default);
  font-style: normal;
  font-weight: 400;
  max-width: 100vw !important;
  overflow-x: hidden;
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
  width: 100vw !important;
}

.no-scroll {
  overflow: hidden;
}

.color-red {
  color: var(--color_red);
}

.alert {
  border-radius: 0.5em;
  padding: 1em;
}

.alert.alert-red {
  background-color: var(--color_red);
}


.comment {
  opacity: 0.5;
}

.chat {
  color: #EA80FC;
}

.display-none {
  display: none;
}

.text-center {
  text-align: center;
}

@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media (orientation: landscape) {
  body {
    align-items: center;
    display: flex;
    font-family: var(--font_family_default);
    justify-content: center;
    margin: unset;
    overflow: hidden;
    text-align: center;
    width: inherit;
  }

  .portrait {
    display: none;
  }

  .landscape {
    padding-top: 25vh;
  }

  .landscape>p {
    margin: 0;
  }

  .landscape>.line_1 {
    font-size: 15vh;
    line-height: 12vh;
  }

  .landscape>.line_2 {
    font-size: 11vh;
    line-height: 10vh;
    opacity: 0.7;
  }

  .landscape>.line_3 {
    font-size: 5vh;
    line-height: 5vh;
    opacity: 0.6;
  }

  .landscape>.line_4 {
    font-size: 3vh;
    line-height: 3vh;
    opacity: 0.5;
  }

  .landscape>.line_5 {
    font-size: 1.75vh;
    line-height: 3vh;
    opacity: 0.4;
  }

  .landscape>.line_6 {
    font-size: 1.5vh;
    line-height: 1.75vh;
    opacity: 0.3;
  }
}

@media (orientation: portrait) {
  body {
    display: flex;
    flex-direction: column;
    margin: unset;
    max-width: inherit;
    overflow-x: inherit;
    position: relative;
    width: inherit;
  }

  body::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  body::-webkit-scrollbar-thumb {
    width: 0;
  }

  .landscape {
    display: none;
  }

  #menu-chapters {
    align-items: center;
    background-color: #ff3d00;
    border: none;
    border-radius: 100%;
    bottom: var(--menu_chapters_padding);
    cursor: pointer;
    color: #fff;
    display: flex;
    height: var(--menu_chapters_button_size);
    justify-items: center;
    opacity: 0;
    padding: 1em;
    position: fixed;
    right: var(--menu_chapters_padding);
    transform: scale(0);
    transition: opacity 1s, transform 250ms;
    width: var(--menu_chapters_button_size);
    z-index: calc(var(--z_index_menu) + 50);
  }

  #menu-chapters:disabled {
    background-color: #a0a0a0;
    color: transparent;
    text-shadow: 0 0 5px #FFF;
  }

  #menu-chapters>span {
    font-size: 3rem;
  }

  #menu-chapters-containers {
    align-items: stretch;
    background-color: #121a2dee;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 250ms;
    z-index: var(--z_index_menu);

    overflow-x: hidden;
  }

  #menu-chapters-containers * {
    user-select: none;
  }

  #menu-chapters-containers.hide {
    opacity: 0;
    left: 100vw;
    top: 100vh;
  }

  #menu-chapters-containers::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  #menu-chapters-containers::-webkit-scrollbar-thumb {
    width: 0;
  }

  #menu-chapters-containers>.options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40vh var(--menu_chapters_padding);
  }

  #menu-chapters-containers>.options>.option {
    align-items: center;
    background-color: var(--color_blue_dark);
    cursor: pointer;
    display: flex;
    font-size: var(--font_size_subtitle);
    font-weight: bold;
    justify-content: space-between;
    padding: var(--menu_chapters_padding);
  }

  #menu-chapters-containers>.options>.option:not(:first-of-type) {
    margin-top: var(--menu_chapters_padding);
  }

  #menu-chapters-containers>.options>.option>.material-symbols-sharp {
    font-size: 2em;
  }

  #menu-chapters-containers>.options>.option.sub {
    background-color: var(--color_blue_darker);
    font-size: var(--font_size_default);
    margin-left: var(--menu_chapters_padding);
    margin-top: calc(var(--menu_chapters_padding) / 4);
  }

  #menu-chapters-containers>div:last-child {
    align-items: flex-start;
    background-color: var(--default_background_color);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: var(--menu_chapters_button_size);
    justify-content: center;
    left: 0;
    padding-bottom: var(--menu_chapters_padding);
    padding-left: var(--menu_chapters_padding);
    padding-right: calc((var(--menu_chapters_padding) * 2) + var(--menu_chapters_button_size));
    padding-top: var(--menu_chapters_padding);
    position: fixed;
    right: 0;
  }

  #controller {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: calc(var(--z_index_menu) - 1);
  }

  #controller>.md-ripples .ripple {
    background-color: #fff9;
    opacity: 0.01;
  }

  #controller>div {
    height: 100%;
    width: 100%;
  }

  hr {
    background: #fff;
    border: 0;
    height: 1px;
    margin: 0;
    opacity: 0.25;
    width: 100%;
  }

  header,
  main,
  footer {
    display: inherit;
    position: relative;
  }

  header {
    flex-direction: inherit;
    height: 100vh;
    z-index: var(--z_index_header);
  }

  main {
    flex-direction: inherit;
    z-index: var(--z_index_main);
  }

  footer {
    background-color: crimson;
    z-index: var(--z_index_footer);
  }

  .preamble {
    font-size: var(--font_size_subtitle);
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: calc(36% - calc(100vw / 3));
  }

  .preamble * {
    margin: 0;
  }

  .preamble>.named {
    background: #fff;
    background: linear-gradient(172deg, #fff 50%, #ff3d00 70%);
    display: inline-flex;
    font-family: var(--font_family_hand);
    font-size: 1.85rem !important;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .preamble>small {
    bottom: -0.5rem;
    color: #ff4a13;
    font-size: 0.85rem !important;
    position: absolute;
    right: 18%;
    transform: rotate(-5deg);
  }

  .post-alert {
    bottom: 8%;
    left: 0;
    position: absolute;
    right: 0;
    border-radius: 0.5em;
    text-align: center;
  }

  .post-alert * {
    margin: 0;
  }

  header>article {
    align-items: center;
    text-shadow: none;
    display: flex;
    flex-direction: column;
    font-family: var(--font_family_stylish);
    height: inherit;
    justify-content: center;
    text-align: center;
  }

  header>article>h1 {
    --font-size: calc(100vw / 3);
    font-size: var(--font-size);
    line-height: var(--font-size);
    margin: 0;
    position: relative;
    width: fit-content;
  }

  header>article>h1>span {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: calc(var(--z_index_header) + 15);
  }

  header>article>h1,
  header>article>h1>span {
    background-color: var(--color_blue_flat);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }

  header>article>h1>span:nth-of-type(1) {
    --xyA: 0%;
    --xyB: 10%;
    --xyC: 100%;
    --xyD: calc(var(--xyB) * 2.8);
    clip-path: polygon(var(--xyA) var(--xyA),
        var(--xyD) var(--xyA),
        var(--xyB) var(--xyC),
        var(--xyA) var(--xyC));
  }

  header>article>h1>span:nth-of-type(2) {
    --xyA: 44%;
    --xyB: 0%;
    --xyC: calc(var(--xyA) * 1.3);
    --xyE: 100%;
    --xyF: calc(var(--xyA) * 1.6);
    --xyG: calc(var(--xyA) * 0.7);
    clip-path: polygon(var(--xyA) var(--xyB),
        var(--xyC) var(--xyB),
        var(--xyF) var(--xyE),
        var(--xyG) var(--xyE));
  }

  header>article>h1>span:nth-of-type(3) {
    --xyA: 84%;
    --xyB: 0%;
    --xyC: 100%;
    clip-path: polygon(var(--xyA) var(--xyB),
        var(--xyC) var(--xyB),
        var(--xyC) var(--xyC),
        var(--xyA) var(--xyC));
  }

  header>article>h1+p {
    font-size: var(--font_size_title);
    margin: -1rem;
    letter-spacing: 0.25em;
    word-spacing: -0.5em;
  }

  .paragraph-panzer {
    --offset: 12%;
    height: var(--panzer_height);
    overflow: hidden;
    position: absolute;
    left: var(--offset);
    bottom: 19%;
    right: var(--offset);
  }

  .paragraph-panzer>img {
    animation: moveImage 20s cubic-bezier(0.4, 0.6, 0.4, 0.6) infinite;
    filter: brightness(100);
    height: calc(var(--panzer_height) * 3);
    position: absolute;
    left: calc(var(--panzer_height) * -3);
    top: calc(var(--panzer_height) * -0.81);
  }

  @keyframes moveImage {
    0% {
      left: calc(var(--panzer_height) * -3);
    }

    100% {
      left: 100%;
    }
  }

  main {
    padding: 0 1em;
  }

  main>section:not(:last-of-type) {
    margin-bottom: 1em;
  }

  main>section>.title {
    color: var(--color_yellow);
    font-size: var(--font_size_subtitle);
    margin: 0;
    padding: 1em 0;
    text-transform: uppercase;
  }

  main>section>.title+hr {
    margin-bottom: 1.5em;
  }

  main>section>p {
    margin: 1em 0;
    text-align: justify;
  }

  main .image-container {
    align-items: self-end;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  main .image-container>img.map {
    --border-width: 0.5em;
    border-color: black;
    border-style: solid;
    border-width: var(--border-width);
    width: calc(100% - var(--border-width) *2);
  }

  main .image-container>img.map+label {
    --border-width: 0.5em;
    background: black;
    padding: 0.5em 1em;
    width: fit-content;
  }

  #war-continents {
    filter: brightness(20%);
  }

  main .image-container>.continent-africa,
  main .image-container>.continent-america-norte,
  main .image-container>.continent-america-sul,
  main .image-container>.continent-asia,
  main .image-container>.continent-europa,
  main .image-container>.continent-oceania {
    align-items: flex-end;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-style: solid;
    border-width: 0 0 2px 0;
    display: flex;
    font-weight: bold;
    padding: 0 0.25em;
    position: absolute;
    transition: all 500ms;
    z-index: calc(var(--z_index_main) + 10);
  }

  .continent-africa,
  .continent-america-norte,
  .continent-america-sul,
  .continent-asia,
  .continent-europa,
  .continent-oceania {
    font-weight: bold;
  }

  .continent-africa {
    color: #F50057;
  }

  .continent-america-norte {
    color: #FF6F00;
  }

  .continent-america-sul {
    color: #00C853;
  }

  .continent-asia {
    color: #FFB300;
  }

  .continent-europa {
    color: var(--color_blue_flat);
  }

  .continent-oceania {
    color: #FF5252;
  }

  main .image-container>.continent-africa {
    top: 47%;
    left: 45%;
    border-color: #F50057;
    animation-delay: 1s;
    animation-name: scale-africa;
  }

  main .image-container>.continent-america-norte {
    top: 25%;
    left: 06%;
    border-color: #FF6F00;
    animation-delay: 0s;
    animation-name: scale-america-norte;
  }

  main .image-container>.continent-america-sul {
    top: 60%;
    left: 17%;
    border-color: #00C853;
    animation-delay: 3s;
    animation-name: scale-america-sul;
  }

  main .image-container>.continent-asia {
    top: 25%;
    left: 70%;
    border-color: #FFB300;
    animation-delay: 2s;
    animation-name: scale-asia;
  }

  main .image-container>.continent-europa {
    top: 27%;
    left: 48%;
    border-color: #304FFE;
    animation-delay: 4s;
    animation-name: scale-europa;
  }

  main .image-container>.continent-oceania {
    top: 62%;
    left: 77%;
    border-color: #F82628;
    animation-delay: 5s;
    animation-name: scale-oceania;
  }

  @keyframes scale-africa {
    0% {
      transform: scale(1.0);
    }

    50% {
      transform: scale(1.25);
    }
  }

  @keyframes scale-america-norte {
    0% {
      transform: scale(1.0);
    }

    50% {
      transform: scale(1.15);
    }
  }

  @keyframes scale-america-sul {
    0% {
      transform: scale(1.0);
    }

    50% {
      transform: scale(1.18);
    }
  }

  @keyframes scale-asia {
    0% {
      transform: scale(1.0);
    }

    50% {
      transform: scale(1.33);
    }
  }

  @keyframes scale-europa {
    0% {
      transform: scale(1.0);
    }

    50% {
      transform: scale(1.25);
    }
  }

  @keyframes scale-oceania {
    0% {
      transform: scale(1.0);
    }

    50% {
      transform: scale(1.25);
    }
  }

  main .image-container>span>span {
    font-size: 1.15em;
  }

  .territory-num {
    border-style: solid;
    border-width: 0 0 2px 0;
    display: inline;
    margin-left: -1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
  }

  .territory-num.territory-africa {
    border-color: #F50057;
  }

  .territory-num.territory-america-norte {
    border-color: #FF6F00;
  }

  .territory-num.territory-america-sul {
    border-color: #00C853;
  }

  .territory-num.territory-asia {
    border-color: #FFB300;
  }

  .territory-num.territory-europa {
    border-color: var(--color_blue_flat);
  }

  .territory-num.territory-oceania {
    border-color: #FF5252;
  }

  main .territory {
    margin-left: 1em;
  }





  main .image-container.frontiers {
    position: relative;
    overflow: hidden;
  }

  main .image-container.frontiers>img {
    animation-name: frontiers_anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
  }

  main .image-container.frontiers>img.nth1 {
    filter: brightness(1) grayscale(0%);
    opacity: 1;
  }

  main .image-container.frontiers>img:not(:first-of-type) {
    position: absolute;
    top: 0;
    left: 2px;
    opacity: 0;
    pointer-events: none;
  }

  main .image-container.frontiers>img.nth1 {
    animation-name: frontier_nth1;
  }

  main .image-container.frontiers>img.nth2 {
    animation-name: frontier_nth2;
  }

  main .image-container.frontiers>img.nth3 {
    animation-name: frontier_nth3;
  }

  main .image-container.frontiers>img.nth4 {
    animation-name: frontier_nth4;
  }

  main .image-container.frontiers>img.nth5 {
    animation-name: frontier_nth5;
  }

  @keyframes frontier_nth1 {
    0% {
      filter: brightness(1) grayscale(0%);
    }

    10% {
      filter: brightness(0.3) grayscale(100%);
    }

    70% {
      filter: brightness(0.3) grayscale(100%);
    }

    80% {
      filter: brightness(1) grayscale(0%);
    }
  }

  @keyframes frontier_nth2 {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes frontier_nth3 {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    40% {
      opacity: 1;
    }

    45% {
      opacity: 0;
    }
  }

  @keyframes frontier_nth4 {
    0% {
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    65% {
      opacity: 0;
    }
  }

  @keyframes frontier_nth5 {
    0% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    70% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    85% {
      opacity: 0;
    }
  }

  .frontiers-grid {
    display: grid;
    font-weight: bold;
    gap: 0.5em;
    grid-template-areas:
      'g-euro-fran g-euro-fran g-euro-fran g-euro-fran g-euro-polo g-euro-polo g-asia-orie'
      'g-afri-arge g-afri-arge g-afri-arge g-afri-egit g-afri-egit g-afri-egit g-asia-orie'
      'g-afri-arge g-afri-arge g-afri-arge g-afri-suda g-afri-suda g-afri-suda g-asia-orie';
    margin: 1em 0;
  }

  .frontiers-grid>div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    position: relative;
  }


  .frontiers-grid>div.euro-fran,
  .frontiers-grid>div.euro-polo,
  .frontiers-grid>div.asia-orie,
  .frontiers-grid>div.afri-arge,
  .frontiers-grid>div.afri-suda {
    opacity: 0.2;
    transition: opacity 3s;
  }


  .frontiers-grid>div.euro-fran,
  .frontiers-grid>div.euro-polo {
    background-color: var(--color_blue_flat);
  }

  .frontiers-grid>div.asia-orie {
    background-color: #FFB300;
  }

  .frontiers-grid>div.afri-arge,
  .frontiers-grid>div.afri-egit,
  .frontiers-grid>div.afri-suda {
    background-color: #F50057;
  }

  .frontiers-grid>div.euro-fran {
    grid-area: g-euro-fran;
  }

  .frontiers-grid>div.euro-polo {
    grid-area: g-euro-polo;
  }

  .frontiers-grid>div.asia-orie {
    grid-area: g-asia-orie;
  }

  .frontiers-grid>div.afri-arge {
    grid-area: g-afri-arge;
  }

  .frontiers-grid>div.afri-egit {
    grid-area: g-afri-egit;
    position: relative;
  }

  .frontiers-grid>div.afri-suda {
    grid-area: g-afri-suda;
  }

  .frontiers-grid>div>.material-symbols-sharp {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-variation-settings: 'wght' 700, 'GRAD' 200;
    opacity: 0;
    position: absolute;
    z-index: calc(var(--z_index_menu) + 100);
  }

  @keyframes frontier_arrow_down {
    000% { opacity: 0.00; transform: translateY(00.00em) rotate(90deg); }
    010% { opacity: 0.20; transform: translateY(-0.02em) rotate(90deg); }
    020% { opacity: 0.40; transform: translateY(-0.05em) rotate(90deg); }
    030% { opacity: 0.60; transform: translateY(-0.10em) rotate(90deg); }
    040% { opacity: 0.80; transform: translateY(-0.05em) rotate(90deg); }
    050% { opacity: 1.00; transform: translateY(-0.02em) rotate(90deg); }
    060% { opacity: 0.80; transform: translateY(00.00em) rotate(90deg); }
    070% { opacity: 0.60; transform: translateY(00.02em) rotate(90deg); }
    080% { opacity: 0.40; transform: translateY(00.05em) rotate(90deg); }
    090% { opacity: 0.20; transform: translateY(00.10em) rotate(90deg); }
    100% { opacity: 0.00; transform: translateY(00.05em) rotate(90deg); }
  }
  @keyframes frontier_arrow_left {
    000% { opacity: 0.00; transform: translateX(00.00em) rotate(180deg); }
    010% { opacity: 0.20; transform: translateX(00.02em) rotate(180deg); }
    020% { opacity: 0.40; transform: translateX(00.05em) rotate(180deg); }
    030% { opacity: 0.60; transform: translateX(00.10em) rotate(180deg); }
    040% { opacity: 0.80; transform: translateX(00.05em) rotate(180deg); }
    050% { opacity: 1.00; transform: translateX(00.00em) rotate(180deg); }
    060% { opacity: 0.80; transform: translateX(-0.02em) rotate(180deg); }
    070% { opacity: 0.60; transform: translateX(-0.05em) rotate(180deg); }
    080% { opacity: 0.40; transform: translateX(-0.10em) rotate(180deg); }
    090% { opacity: 0.20; transform: translateX(-0.05em) rotate(180deg); }
    100% { opacity: 0.00; transform: translateX(-0.02em) rotate(180deg); }
  }
  @keyframes frontier_arrow_right {
    000% { opacity: 0.00; transform: translateX(00.00em) }
    010% { opacity: 0.20; transform: translateX(-0.02em) }
    020% { opacity: 0.40; transform: translateX(-0.05em) }
    030% { opacity: 0.60; transform: translateX(-0.10em) }
    040% { opacity: 0.80; transform: translateX(-0.05em) }
    050% { opacity: 1.00; transform: translateX(-0.02em) }
    060% { opacity: 0.80; transform: translateX(00.00em) }
    070% { opacity: 0.60; transform: translateX(00.02em) }
    080% { opacity: 0.40; transform: translateX(00.05em) }
    090% { opacity: 0.20; transform: translateX(00.10em) }
    100% { opacity: 0.00; transform: translateX(00.05em) }
  }
  @keyframes frontier_arrow_up {
    000% { opacity: 0.00; transform: translateY(00.00em) rotate(270deg); }
    010% { opacity: 0.20; transform: translateY(00.02em) rotate(270deg); }
    020% { opacity: 0.40; transform: translateY(00.05em) rotate(270deg); }
    030% { opacity: 0.60; transform: translateY(00.10em) rotate(270deg); }
    040% { opacity: 0.80; transform: translateY(00.05em) rotate(270deg); }
    050% { opacity: 1.00; transform: translateY(00.00em) rotate(270deg); }
    060% { opacity: 0.80; transform: translateY(-0.02em) rotate(270deg); }
    070% { opacity: 0.60; transform: translateY(-0.05em) rotate(270deg); }
    080% { opacity: 0.40; transform: translateY(-0.10em) rotate(270deg); }
    090% { opacity: 0.20; transform: translateY(-0.05em) rotate(270deg); }
    100% { opacity: 0.00; transform: translateY(-0.02em) rotate(270deg); }
  }


  .frontiers-grid>div.afri-egit>.material-symbols-sharp:nth-of-type(1) {
    animation-name: frontier_arrow_left;
    left: -.65em;
    top: calc(50% - .5em);
  }

  .frontiers-grid>div.afri-egit>.material-symbols-sharp:nth-of-type(2) {
    animation-name: frontier_arrow_up;
    left: 0;
    top: -0.65em;
  }

  .frontiers-grid>div.afri-egit>.material-symbols-sharp:nth-of-type(3) {
    animation-name: frontier_arrow_up;
    left: 50%;
    top: -0.65em;
    transform: rotate(270deg);
  }

  .frontiers-grid>div.afri-egit>.material-symbols-sharp:nth-of-type(4) {
    animation-name: frontier_arrow_right;
    right: -0.65em;
    top: calc(50% - .5em);
  }

  .frontiers-grid>div.afri-egit>.material-symbols-sharp:nth-of-type(5) {
    animation-name: frontier_arrow_down;
    bottom: -0.65em;
    left: calc(50% -1em);
  }


  
  .frontiers-list-container {
    background-color: #ffffff07;
    border-left: 0.25em solid;
    margin: 1em 0;
    padding: 1em 0 1em 1em;
    border-radius: 0 1em 1em 0;
  }
  
  .frontiers-list-container > b {
    font-size: var(--font_size_subtitle);
  }
  
  .frontiers-list-container.africa {
    border-color: #F50057;
  }

  .frontiers-list-container.america-norte {
    border-color: #FF6F00;
  }

  .frontiers-list-container.america-sul {
    border-color: #00C853;
  }

  .frontiers-list-container.asia {
    border-color: #FFB300;
  }

  .frontiers-list-container.europa {
    border-color: var(--color_blue_flat);
  }

  .frontiers-list-container.oceania {
    border-color: #FF5252;
  }
  



  .highlight {
    background-color: cyan;
  }

  .fixed-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
  }

  .fixed-buttons button {
    margin: 5px;
  }
}