:root {
  --z_index_header: 1000;
  --z_index_main: 2000;
  --z_index_footer: 3000;

  --panzer-height: 0.25em;

  --font-family-default: "Roboto Mono", monospace;
  --font-family-hand: "Permanent Marker", cursive;
  --font-family-stylish: "Rubik Mono One", monospace;
  
  --font-size-default: 3vw;
  --font-size-title: 6vw;
  --font-size-subtitle: 4.5vw;

  --default-background-color: #121a2d;

  --color-blue-darker: #0036c6;
  --color-blue-dark: #0046ff;
  --color-blue-flat: #2979ff;
  --color-blue-light: #5584ff;
  --color-blue-lighter: #d2dfff;
}

/* https://gabrielfins.github.io/ripple-effect/ */
.md-ripples .ripple {
  background-color: #fff9;
  opacity: 0.01;
}

html {
  background-color: var(--default-background-color);
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: var(--font-size-default);
  font-style: normal;
  font-weight: 400;
  max-width: 100vw !important;
  overflow-x: hidden;
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
  width: 100vw !important;
}

@media (orientation: landscape) {
  body {
    align-items: center;
    display: flex;
    font-family: var(--font-family-default);
    height: 100vh;
    justify-content: center;
    margin: unset;
    overflow: hidden;
    text-align: center;
    width: inherit;
  }
  .portrait {
    display: none;
  }

  .landscape {
    padding-top: 25vh;
  }

  .landscape > p {
    margin: 0;
  }
  .landscape > .line_1 {
    font-size: 15vh;
    line-height: 12vh;
  }
  .landscape > .line_2 {
    font-size: 11vh;
    line-height: 10vh;
    opacity: 0.7;
  }
  .landscape > .line_3 {
    font-size: 5vh;
    line-height: 5vh;
    opacity: 0.6;
  }
  .landscape > .line_4 {
    font-size: 3vh;
    line-height: 3vh;
    opacity: 0.5;
  }
  .landscape > .line_5 {
    font-size: 1.75vh;
    line-height: 3vh;
    opacity: 0.4;
  }
  .landscape > .line_6 {
    font-size: 1.5vh;
    line-height: 1.75vh;
    opacity: 0.3;
  }
}

@media (orientation: portrait) {
  body {
    display: flex;
    flex-direction: column;
    margin: unset;
    max-width: inherit;
    overflow-x: inherit;
    position: relative;
    width: inherit;
  }
  body::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  body::-webkit-scrollbar-thumb {
    width: 0;
  }

  .landscape {
    display: none;
  }

  #controller {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  #controller > div {
    height: 100%;
    width: 100%;
  }

  header,
  main,
  footer {
    display: inherit;
    position: relative;
  }
  header {
    flex-direction: inherit;
    height: 100vh;
    z-index: var(--z_index_header);
  }
  main {
    background-color: blueviolet;
    z-index: var(--z_index_main);
  }
  footer {
    background-color: crimson;
    z-index: var(--z_index_footer);
  }

  .preamble {
    font-size: var(--font-size-subtitle);
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: calc(45% - calc(100vw / 3));
    z-index: 999999999;
  }
  .preamble * {
    margin: 0;
  }
  .preamble > p:last-child {

    background: #fff;
    background: linear-gradient(172deg, #fff 50%, #FF3D00 70%);
    font-family: var(--font-family-hand);
    font-size: 1.85rem !important;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .verde {
    bottom: 5%;
    left: 0;
    position: absolute;
    right: 0;
    border-radius: 0.5em;
    text-align: center;
  }
  .verde * {
    margin: 0;
  }

  header > article {
    align-items: center;
    text-shadow: none;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-stylish);
    height: inherit;
    justify-content: center;
    text-align: center;
  }
  header > article > h1 {
    --font-size: calc(100vw / 3);
    font-size: var(--font-size);
    line-height: var(--font-size);
    margin: 0;
    position: relative;
    width: fit-content;
  }
  header > article > h1 > span {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: calc(var(--z_index_header) + 15);
  }
  header > article > h1,
  header > article > h1 > span {
    background-color: var(--color-blue-flat);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
  header > article > h1 > span:nth-of-type(1) {
    --xyA: 0%;
    --xyB: 10%;
    --xyC: 100%;
    --xyD: calc(var(--xyB) * 2.8);
    clip-path: polygon(
      var(--xyA) var(--xyA),
      var(--xyD) var(--xyA),
      var(--xyB) var(--xyC),
      var(--xyA) var(--xyC)
    );
  }
  header > article > h1 > span:nth-of-type(2) {
    --xyA: 44%;
    --xyB: 0%;
    --xyC: calc(var(--xyA) * 1.3);
    --xyE: 100%;
    --xyF: calc(var(--xyA) * 1.6);
    --xyG: calc(var(--xyA) * 0.7);
    clip-path: polygon(
      var(--xyA) var(--xyB),
      var(--xyC) var(--xyB),
      var(--xyF) var(--xyE),
      var(--xyG) var(--xyE)
    );
  }
  header > article > h1 > span:nth-of-type(3) {
    --xyA: 84%;
    --xyB: 0%;
    --xyC: 100%;
    clip-path: polygon(
      var(--xyA) var(--xyB),
      var(--xyC) var(--xyB),
      var(--xyC) var(--xyC),
      var(--xyA) var(--xyC)
    );
  }
  header > article > h1 + p {
    font-size: var(--font-size-title);
    margin: -1rem;
    letter-spacing: 0.25em;
    word-spacing: -0.5em;
  }

  .paragraph-panzer {
    --offset: 12%;
    height: var(--panzer-height);
    overflow: hidden;
    position: absolute;
    left: var(--offset);
    bottom: 18%;
    right: var(--offset);
  }
  .paragraph-panzer > img {
    animation: moveImage 20s cubic-bezier(0.4, 0.6, 0.4, 0.6) infinite;
    filter: brightness(100);
    height: calc(var(--panzer-height) * 3);
    position: absolute;
    left: calc(var(--panzer-height) * -3);
    top: calc(var(--panzer-height) * -0.85);
  }
  @keyframes moveImage {
    0% {
      left: calc(var(--panzer-height) * -3);
    }
    100% {
      left: 100%;
    }
  }
}
